<?xml version="1.0" encoding="utf-8" ?>
<!-- App.config de ServicioMultipropósito -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!-- Valores de las entradas del servicio -->
  <appSettings>
    <!-- Acción a ejecutar -->
    <add key="strAccion" value="EliminarUnDirectorio"/>
    <!-- Directorios -->
    <add key="strDFuente" value="C:\Users\jesus\OneDrive\Escritorio\jesusacosta.cz"/>
    <add key="strDDestino" value="C:\Users\jesus\OneDrive\Escritorio\Pruebas"/>
    <!-- Eliminar un directorio -->
    <add key="strDAEliminar" value="_notes"/>
  </appSettings>
</configuration>